/**
 * event-posts.css
 */

.event-posts-calendar .ep-size-full {

}

#content .ep-calendar-month td {
  vertical-align: top;
  border: solid 1px #E7E7E7;
  padding: 0px;
}

.view-grid .ep-calendar-day {
  position: relative;
  overflow: hidden;
  width: 5em;
  height: 5em;

  padding: 4px;
}

.ep-size-full ul.ep-calendar-day-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-grid li.ep-calendar-day-item {

}

.ep-size-full .ep-calendar-month li.ep-calendar-day-item a {
  font-size: 0.6em;
  white-space: nowrap;
}

.ep-blank-tile {
  background-color: #FAFAFA;
}

.view-jump .ep-jump-view-current {
  margin-bottom: 10px;
}

.ep-size-small table {
  width: auto;
}

.ep-size-small th {
  font-size: 0.8em;
}

.ep-size-small td {
  vertical-align: top;
  border: solid 1px #E7E7E7;
  padding: 0px;
  width: 2em;
  height: 2em;
}

.ep-size-small .ep-calendar-day {
  padding: 2px;
  width: auto;
  height: auto;
  overflow: visible;
}

.view-grid .ep-size-small {
  position: relative;
}

.ep-size-small li.ep-calendar-day-item a {
	line-height: normal;
  font-size: 1.0em;
}

.ep-size-small ul.ep-calendar-day-items {
  display: none;
}

.ep-calendar-prev-next {
  position: relative;
}

.ep-loading {
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-left: 10px;
}

.ep-calendar-day-num a {
  text-decoration: none;
  font-weight: bold;
}

.ep-vcal {
	position: relative;
	height: 20px;
}

.ep-vcal-link {
  display: block;
  background-image: url('../img/calendar.png');
  background-repeat: no-repeat;
  padding-left: 25px;
  min-height: 20px;
  font-size: 0.9em;
}

.ep-calendar-day {
  background-color: #FFF;
}

.ep-day-detail {
  background-color: #FFF;
  z-index: 9999;
  padding: 10px;
  border: 1px solid #999;
}

.ep-day-zoom-hover {
  background-image: url('../img/zoom_in.png');
  background-repeat: no-repeat;
  background-position: top right;
}
